$yellow:  #ffae2b;
$blue:  #1a3e8b;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: inherit;
}

body {
    background: $blue;
    color: $yellow;
    width: 100%;
}

/* PAGE */
$text-size: 4vw;

.text {
    font-family: "IBM Plex Sans", sans-serif;
    display: none;

    font-size: $text-size;
    line-height: $text-size;
    font-weight: bold;
    font-variant-ligatures: normal;
}

h1 {
    font: inherit;
    color: $yellow;
    line-height: inherit;
    letter-spacing: inherit;
}

.text p, h1 {
    opacity: 0;
    animation: fadein .2s forwards ease-out;
    padding: 1.58vw 10vw 2.37vw 3vw;
}

.text p {
    color: white;
}

.text a {
    text-decoration: underline;
    text-decoration-skip: ink;
    color: inherit;
    padding-left: .5vw;
    padding-right: .5vw;
    margin-left: -.5vw;
    margin-right: -.5vw;
    cursor: pointer;
}

.text a:hover {
    text-decoration: none;
}

.text a:focus {
    text-decoration: none;
    outline: solid 4px rgba(0, 0, 0, .4);
}

.small {
    color: $yellow !important;
    font-size: $text-size / 2;
    line-height: $text-size / 1.5;
}

.underline {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
}

::selection {
    background: #000;
    background: rgba(0, 0, 0, .99);
    color: #fff;
}

// Load-in Animation

@keyframes fadein {
    0% {
        opacity: 0;
        margin-top: 1.5vw;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}